@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&family=Courgette&family=Pacifico&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&family=Courgette&family=Pacifico&family=Permanent+Marker&family=Roboto+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&family=Courgette&family=Pacifico&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&family=Courgette&family=Pacifico&family=Permanent+Marker&family=Roboto+Mono:ital@1&display=swap");
body header nav div div h1 {
  font-family: "Pacifico", cursive;
}
body header nav div div ul li a.nav-link {
  font-family: "Pacifico", cursive;
}
body header nav div div ul li ul li a.dropdown-item {
  font-family: "Pacifico", cursive;
}

body footer div {
  background-color: rgb(76, 61, 61);
}
body footer div div p.texto_footer {
  font-family: "Cormorant", serif;
}
body footer div div h3.texto_footer {
  font-family: "Cormorant", serif;
}
body footer div div div.redes, body footer div div div.red--what, body footer div div div.red--insta, body footer div div div.red--face {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
body footer div div div.redes a img, body footer div div div.red--what a img, body footer div div div.red--insta a img, body footer div div div.red--face a img {
  width: 3rem;
  height: 3rem;
  border: 3px solid;
  background-color: white;
  border-image: linear-gradient(45deg, rgb(239, 3, 239), rgb(248, 219, 1)) 1;
}
body footer div div div.redes a img:hover, body footer div div div.red--what a img:hover, body footer div div div.red--insta a img:hover, body footer div div div.red--face a img:hover {
  background-color: rgb(0, 255, 255);
}

#tag {
  font-size: 48px;
}

#tag {
  font-size: 20px;
}

.btn--res, .btn--subm {
  font-size: 1.5rem;
  background-color: rgb(181, 49, 9);
}

.btn--subm {
  background-color: rgb(0, 255, 255);
}

.btn--res {
  background-color: rgb(255, 204, 0);
}

.redes, .red--what, .red--insta, .red--face {
  font-size: 1.5rem;
  font-family: "Cormorant", serif;
}

body.body_index {
  background-color: #110A17;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='280' height='280' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%2307B2AB' stroke-width='6.7' stroke-opacity='0.17'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
}
body.body_index main div.fondo_ind {
  background-color: rgb(76, 61, 61);
}
body.body_index main div div.texto_ind--carrusel {
  font-family: "Courgette", cursive;
}
body.body_index main div div.texto_ind--carrusel h2 {
  border-bottom: 6px solid;
  background: transparent;
  border-image: linear-gradient(45deg, rgb(239, 3, 239), rgb(248, 219, 1)) 1;
}
body.body_index main div form fieldset {
  width: 30rem;
  background-color: rgb(76, 61, 61);
  font-family: "Cormorant", serif;
}
@media (max-width: 550px) {
  body.body_index main div form fieldset {
    width: 20rem;
  }
}
@media (max-width: 370px) {
  body.body_index main div form fieldset {
    width: 15rem;
  }
}
body.body_index main div p.texto_ind--form {
  font-family: "Courgette", cursive;
  background: linear-gradient(45deg, rgb(239, 3, 239), rgb(248, 219, 1));
  -webkit-background-clip: text;
  color: transparent;
}
body.body_index main section div.texto_ind--videos {
  font-family: "Cormorant", serif;
  background-color: rgb(76, 61, 61);
  border-bottom: 6px solid;
  border-image: linear-gradient(45deg, rgb(239, 3, 239), rgb(248, 219, 1)) 1;
}
body.body_index main section div.texto_ind--videos p {
  display: flex;
  justify-content: center;
}
body.body_index main section div div h2.texto_ind--proyectos {
  font-family: "Courgette", cursive;
}
body.body_index main section div div iframe {
  height: 450px;
}
@media (max-width: 650px) {
  body.body_index main section div div iframe {
    height: 200px;
  }
}

body.body_empresa {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(66, 52, 51) 0%, rgb(226, 209, 168) 50%, rgb(108, 141, 161) 100%);
}
body main section div.emp_des {
  font-family: "Courgette", cursive;
  border-bottom: 6px solid;
  background: transparent;
  border-image: linear-gradient(45deg, rgb(239, 3, 239), rgb(248, 219, 1)) 1;
  background-color: rgb(76, 61, 61);
}
body main section div.emp_des--p {
  font-family: "Cormorant", serif;
  background-color: rgb(76, 61, 61);
}

main.main_proy {
  background-color: rgb(76, 61, 61);
}
main.main_proy section.proy_americana {
  background-color: rgb(76, 61, 61);
}
main.main_proy section div h2.proy_titulo {
  font-family: "Courgette", cursive;
  border-bottom: 6px solid;
  background: transparent;
  border-image: linear-gradient(45deg, rgb(239, 3, 239), rgb(248, 219, 1)) 1;
}
main.main_proy section div p.proy_p {
  font-family: "Cormorant", serif;
}
main.main_proy section div.links_pdf a {
  font-family: "Cormorant", serif;
  color: white;
  background-color: rgb(76, 61, 61);
}
main.main_proy section div.links_pdf a:hover {
  color: rgb(0, 255, 255);
}
@media (max-width: 744px) {
  main.main_proy section div.links_pdf {
    display: flex;
    flex-wrap: wrap;
  }
}

body.body_serv {
  background-color: rgb(76, 61, 61);
  font-family: "Courgette", cursive;
}
body main.main_serv section.img_section {
  border-bottom: 6px solid;
  background: transparent;
  border-image: linear-gradient(45deg, rgb(239, 3, 239), rgb(248, 219, 1)) 1;
}
@media (max-width: 375px) {
  body main.main_serv section.img_section div img.img_section-img {
    height: 5rem;
    width: 5rem;
  }
}
body main.main_serv section.img_section div h2 {
  color: rgb(0, 255, 255);
}
body main section.text_section {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  font-family: "Courgette", cursive;
  border-bottom: 6px solid;
  border-image: linear-gradient(45deg, rgb(239, 3, 239), rgb(248, 219, 1)) 1;
}
body main section.text_section div h2#row5 {
  margin-top: 2rem;
}
body main section.text_section div p.limited-width {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

body main.main_cont {
  background-color: rgb(76, 61, 61);
}
body main section div.contacto {
  font-family: "Courgette", cursive;
  font-size: 2rem;
}
body main section div.contacto h2 {
  border-bottom: 6px solid;
  background: transparent;
  border-image: linear-gradient(45deg, rgb(239, 3, 239), rgb(248, 219, 1)) 1;
}
body main section div.contacto p.limited-width {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
body main section div.redes_soc {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body main section div.redes_soc a img {
  width: 10rem;
  height: 10rem;
  border: 6px solid;
  border-radius: 10px;
  background-color: white;
  border-image: linear-gradient(45deg, rgb(239, 3, 239), rgb(248, 219, 1)) 1;
}
body main section div.redes_soc a img.cont_face:hover {
  background-color: rgb(117, 142, 239);
}
body main section div.redes_soc a img.cont_inst:hover {
  background-color: rgb(251, 207, 141);
}
body main section div.redes_soc a img.cont_whats:hover {
  background-color: rgb(147, 234, 147);
}
@media (max-width: 900px) {
  body main section div.redes_soc a img {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 500px) {
  body main section div.redes_soc {
    flex-wrap: wrap;
  }
}

body.body_error main section div p {
  font-size: 5rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
body.body_error main section div a {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
body.body_error main section div a:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
body.body_error main section div a:hover {
  background-position: 0;
}
body.body_error main section div a:hover::before {
  width: 100%;
}
body.body_error main section div body {
  display: grid;
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 700;
  height: 100vh;
  place-items: center;
}

/*# sourceMappingURL=style.css.map */
