@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&family=Courgette&family=Pacifico&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&family=Courgette&family=Pacifico&family=Permanent+Marker&display=swap");
body header nav div div h1 {
  font-family: "Pacifico", cursive;
}
body header nav div div ul li a.nav-link {
  font-family: "Pacifico", cursive;
}
body header nav div div ul li ul li a.dropdown-item {
  font-family: "Pacifico", cursive;
}

body footer div {
  background-color: rgb(62, 1, 31);
}
body footer div div p.texto_footer {
  font-family: "Cormorant", serif;
}
body footer div div h3.texto_footer {
  font-family: "Cormorant", serif;
}
body footer div div div.redes, body footer div div div.red--what, body footer div div div.red--insta, body footer div div div.red--face {
  display: flex;
  justify-content: end;
}

#tag {
  font-size: 48px;
}

#tag {
  font-size: 20px;
}

#row2 {
  font-size: 2rem;
}

#row3 {
  font-size: 3rem;
}

#row4 {
  font-size: 4rem;
}

#row5 {
  font-size: 5rem;
}

.btn--res, .btn--subm {
  font-size: 1.5rem;
}

.btn--subm {
  background-color: rgb(0, 255, 255);
}

.btn--res {
  background-color: rgb(255, 204, 0);
}

.redes, .red--what, .red--insta, .red--face {
  font-size: 1.5rem;
  font-family: "Cormorant", serif;
}

.red--face {
  color: rgb(7, 57, 253);
}

.red--insta {
  color: rgb(0, 255, 255);
}

.red--what {
  color: rgb(9, 189, 9);
}

body.body_index {
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}
body.body_index main div.fondo_ind {
  background-color: rgb(62, 1, 31);
}
body.body_index main div div h2 {
  font-family: "Courgette", cursive;
  border: solid;
  border-radius: 5px;
  border-color: rgb(255, 204, 0);
}
body.body_index main div div p {
  font-family: "Courgette", cursive;
  border: solid;
  border-radius: 5px;
  border-color: rgb(255, 204, 0);
}
body.body_index main div form fieldset {
  width: 30rem;
  background-color: rgb(62, 1, 31);
  font-family: "Cormorant", serif;
}
body.body_index main div p.texto {
  font-family: "Courgette", cursive;
  background: linear-gradient(rgb(242, 230, 4), rgb(246, 3, 189));
  -webkit-background-clip: text;
  color: transparent;
}
body.body_index main section div div iframe {
  height: 450px;
}
@media (max-width: 650px) {
  body.body_index main section div div iframe {
    height: 200px;
  }
}
body.body_index main section div.fondo_ind {
  font-family: f-terciaria;
  background-color: rgb(62, 1, 31);
}

body.body_empresa {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
body main section div.emp_des {
  font-family: "Courgette", cursive;
  border: solid;
  border-radius: 5px;
  border-color: rgb(255, 204, 0);
  background-color: rgb(62, 1, 31);
}
body main section div.emp_des--p {
  font-family: "Cormorant", serif;
  background-color: rgb(62, 1, 31);
}

main.main_proy {
  background-color: rgb(62, 1, 31);
}
main.main_proy section div h2.proy_titulo {
  font-family: "Courgette", cursive;
}
main.main_proy section div p.proy_p {
  font-family: "Cormorant", serif;
  color: rgb(0, 255, 255);
}
main.main_proy section div.links_pdf a {
  font-family: "Cormorant", serif;
}
@media (max-width: 744px) {
  main.main_proy section div.links_pdf {
    display: flex;
    flex-wrap: wrap;
  }
}
main.main_proy div form fieldset {
  width: 30rem;
  font-family: "Cormorant", serif;
}

body main.main_cont {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
body main div section.contacto {
  font-family: "Courgette", cursive;
  font-size: 2rem;
  background-color: rgb(62, 1, 31);
}
body main div section.contacto p.limited-width {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
body main div aside {
  background-color: rgb(62, 1, 31);
}
body main div aside div a {
  font-family: "Courgette", cursive;
  font-size: 3rem;
}

body.body_serv {
  background-color: rgb(62, 1, 31);
  font-family: "Courgette", cursive;
}
body main.main_serv aside {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  font-family: "Courgette", cursive;
}
body main.main_serv div p.limited-width {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/*# sourceMappingURL=style.css.map */
