@import "./modules/variables" ;
@import "./modules/header";
@import "./modules/footer";
@import "./modules/map";
@import "./modules/each";
// INDEX
body{    
    &.body_index{
        background-color: #947D94;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%231d2d6e' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%232f3877' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%233f4380' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%234d4f88' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%235b5c91' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%2369689a' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%237675a2' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%238482ab' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23928fb4' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%239f9dbd' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23adabc6' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%23bbb9cf' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%23c9c7d8' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23d7d6e1' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23e5e4ea' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23F3F3F3' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;       
        main{
           
           div{
                &.fondo_ind{
                background-color: map-get($paleta_colores , "vino" );
                }    

                div{
                    h2{
                    font-family: $f-secundaria;
                    border: solid ;
                    border-radius: 5px;
                    border-color: map-get($paleta_colores , "oro" );
                    }
                    p{
                    font-family: $f-secundaria;
                    border: solid ;
                    border-radius: 5px;
                    border-color: map-get($paleta_colores , "oro" );
                    }
                }
                form{
                    fieldset{
                     width: 30rem;
                     background-color: map-get($paleta_colores , "vino" );
                     font-family: $f-terciaria;
                    }
                }
                p{
                    
                    &.aviso{
                    font-family: $f-secundaria;    
                    color: map-get($paleta_colores, "celeste" );
                    text-shadow: 2px 1px 2px black;
                    }
                }    
            }
            section{
                div{
                   div{
                        iframe{
                            height: 450px;
                            }
                        @media (max-width: 650px)
                            {iframe{
                                height: 200px;
                                }
                            }    
                    }
                    &.fondo_ind{
                        font-family: f-terciaria;
                        background-color: map-get($paleta_colores , "vino" );
                    }
                }
            }
        }   
        
    } 
      
}
// EMPRESA
     
body{
    &.body_empresa{
        background-image: url(../assets/image/nuestra-empresa/empresa-fondo.jpg);
        }
    main{
        section{
            div{
                &.emp_des{
                    font-family: $f-secundaria;
                    border: solid ;
                    border-radius: 5px;
                    border-color: map-get($paleta_colores , "oro" );
                    background-color: map-get($paleta_colores , "vino" );
                    }
               }
           
           
            div{
                &.emp_des--p{
                    font-family: $f-terciaria;
                    background-color: map-get($paleta_colores , "vino" );
                    }    
               } 
            }
        }
    }

// PROYECTO
main{
    &.main_proy{
        background-color: map-get($paleta_colores , "vino" );
    
        section{
            div{
                h2{
                &.proy_titulo{
                    font-family: $f-secundaria;
                    }
                }
                p{
                &.proy_p{
                    font-family: $f-terciaria;
                    color: map-get($paleta_colores , "celeste" );
                    }
                }
                &.links_pdf{
                    a{
                        font-family: $f-terciaria;
                    }
                    @media (max-width: 744px) {
                            display: flex;
                            flex-wrap: wrap;
                        }
                         
                }   
            }
        } 
        div{
            form{                
                fieldset{
                   width: 30rem;
                   font-family: $f-terciaria;
                }
            
            }  
        }  
   }
}
// CONTACTO
body{
        main{
            &.main_cont{
                background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
            }
            div{
                section{
                    &.contacto{
                        font-family: $f-secundaria;
                        font-size: 2rem;
                        background-color: map-get($paleta_colores, "vino");
                        p{
                            &.limited-width{
                                width: 100%; 
                                overflow-wrap: break-word;
                                word-wrap: break-word;
                            }
                        }
                    }
                }
                aside{
                    background-color: map-get($paleta_colores, "vino" );
                    div{
                        a{
                            font-family: $f-secundaria;
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
        
    }
// SERVICIOS    
body{
    &.body_serv{
        background-color: map-get($paleta_colores, "vino" );
        font-family: $f-secundaria;
    }
    main{
        &.main_serv{
            aside{
                background-image: linear-gradient(to right, #434343 0%, black 100%);
                font-family: $f-secundaria;
            }
        }
    }
}