@import "./map";
@import "./mixin";
body{
    
    footer{
            div{
                background-color: map-get($paleta_colores , "c-principal" );
                div{
                    p{
                        &.texto_footer{
                           font-family: $f-terciaria;
                        }
                      }
                   h3{
                       &.texto_footer{
                        font-family: $f-terciaria;
                       }
                   }
                }
                div{
                    div{
                        &.redes{
                            @include redes;
                            a{
                                img{
                                    width: 3rem;
                                    height: 3rem;
                                    border: 3px solid;
                                    background-color: white;
                                    border-image: map-get($paleta_colores , "c-gradiente" ); 
                                    
                                    
                                    
                                }
                                img:hover{
                                    background-color: map-get($paleta_colores , "c_s-bot" );
                                }
                            }
                        }

                    }
                }
            }
        


        }
    }


