
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&family=Courgette&family=Pacifico&family=Permanent+Marker&display=swap');
// COLORES
$c-principal: rgb(62, 1, 31);
// FUENTES
$f-principal: "Pacifico", cursive;
$f-secundaria: "Courgette", cursive;
$f-terciaria: "Cormorant", serif;